
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-weight: bold;  
  color: #4a90e2;
}

header {
  text-align: center;
  padding: 20px;
  background: #4a90e2;
  padding: 15px;
  top: 0;
  height: 70px; 
  z-index: 1000; 
  display: flex;
  align-items: center;
  justify-content: center;
}


.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}


.grid {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  gap: 15px;
  text-align: center;
}


.grid h1 {
  grid-column: span 3;
}
.grid-container h2 {
  grid-column: span 3;
}


.grid a {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #4a90e2;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  margin: 20px;
}


.grid a:hover {
  background: #357abd;
}

.back-button {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 1000;

  padding: 10px 16px;
  background: #4a90e2;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}

.back-button:hover {
  background: #357abd;
}

.top-header {
  display: flex;
  align-items: center;
  background-color: #4a90e2;
  height: 70px;
}

.header-nav {
  display: flex;
  flex: 1;
}

.header-item {
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 20px;
  line-height: 70px;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}

.header-item:first-child {
  border-left: none;
}

.header-item.active {
  font-weight: bold;
  font-size: 26px;
}

#AI-form {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

button {
  padding: 10px 16px; 
  background: #0284c7; 
  border: none;
  border-radius: 6px; 
  color: white; 
  cursor: pointer;
  position:absolute; 
  right:0;
  }

  button:hover { 
    background: #0369a1; 
  }
  
